p {
    margin: 2px auto;
}

#eraser {
    width: 100%;
    margin: 10px 0px;
    padding: 3px;
}

#colors-container {
    width: 100%;
    padding: 5px;
    height:auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(31px, 1fr));
}

#eraser-container {
    width: 100%;
    padding: 5px;
    height:auto;
    display: grid;
    grid-template-columns: 1;
}

#width-container {
    width: 100%;
    margin: 10px 0px;
    height:auto;
}

.palette {
    width: 29px;
    height: 29px;
    float: left;
    margin: 3px;
}

.palette:hover {
    border: 2px solid rgb(167, 59, 59);
}

.shapes {
    width: 23px;
    height: 23px;
    margin: 0 auto;
    display: inline-block;
}

#shaperectangle {
    border: 1px solid transparent;
    background: #6a6a6a;
}

#shapetriangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #1f1f1f;
    display:inline-block;
    background: white;
}

.red { background: red; }
.red1 { background: #F16161; }
.red2 { background: #F69FA0; }
.orange { background: orange; }
.orange1 { background: #F99F62; }
.orange2 { background: #FBB57B; }
.blue { background: #09C2DB; }
.blue1 { background: #8BD3DC; }
.blue2 { background: #B9E3E8; }
.indigo { background: #0E38AD; }
.indigo1 { background: #546AB2; }
.indigo2 { background: #9C96C9; }
.green { background: green; }
.green1 { background: #97CD7E; }
.green2 { background: #C6E2BB; }
.black { background: black; }
.black1 { background: #545454; }
.black2 { background: #B2B2B2; }
.yellow { background: yellow; }
.yellow1 { background: #F7F754; }
.yellow2 { background: #F7F4B1; }
.pink { background: #B9509E; }
.pink1 { background: #D178B1; }
.pink2 { background: #E3ABCE; }
.brown { background: #6F4E37; }

.skin1 { background: #F2EFEE; }
.skin2 { background: #EFE6DD; }
.skin3 { background: #EBD3C5; }
.skin4 { background: #D7B6A5; }
.skin5 { background: #9F7967; }
.skin6 { background: #70361C; }
.skin7 { background: #492816; }
.skin8 { background: #FFCD94; }
.skin9 { background: #EAC086; }
.skin10 { background: #FBDEBC; }


.eraser {
    background: white;
    border: 1px solid gray;
    width: 23px;
    height: 23px;
    margin: auto;
}

#paintbg {
    width: 95%;
    margin: auto;
}

#colorpanel {
    width: 8%;
    float:left;
    margin-right: 18px;
    border: 1px solid black;
}

#linepanel {
    margin-top: 75px;
    width: 185px;
    height: 317px;
    float: right;
    border: 1px solid black;
}

#canvasarea {
    float: left;
    margin: auto;
}

#space {
    width: 130px;
    height: 24px;
    margin: 0 auto;
}

#slider-input {
    height: 12px;
    margin: 5px auto;
}

.button {
    background-color: white;
    color: black;
    border: 1px solid black;
    outline: 0;
    margin: 10px auto;
    font-weight: bold;
}

#round {
    border-radius: 10px;
}

#rough {
border-style: dotted solid;
}

input.vertical {
-webkit-appearance: slider-vertical;
writing-mode: bt-lr;
}

input[type=range]{
    width: 85%;
}

input[type=button]{
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 65px;
    outline: 0;
    font-weight: bold;
}

input[type=range]::-webkit-slider-runnable-track {
    margin: auto;
    margin-top: -10px;
    width: 308px;
    height: 3px;
    background: #000;
    border: none;
    float:none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: slider-vertical;
    height: 16px;
    width: 16px;
    border: 3px solid blue;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: black;
}

.slider {
    margin:15px auto;
}

.canvas {
    width: 1450px; 
    height: 600px;
    border: 1.5px solid #000000; 
}